<ion-list>

    <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:completado">

        <ion-item>
            <button ion-item (click)="listaSeleccionada(lista)" class="animated fadeInDown">
                        {{ lista.titulo }}
                        <ion-note item-end>
                          {{lista.items.length}} items
                        </ion-note>
            </button>
        </ion-item>



        <ion-item-options side="right">
            <button ion-button icon-only color="danger" (click)="borrarLista(lista)">
                                      <ion-icon name="close"></ion-icon>
                </button>
        </ion-item-options>
    </ion-item-sliding>

</ion-list>